input {
    padding: 5px;
    font-size: 16px;
}
button{
    background-color: rgb(90, 180, 184);
    color: white;
    padding: 8px,18px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}
button:hover{
    background-color: rgb(255,170,120);
    cursor: pointer;
}
body{
    background-color: rgb(245, 252, 252);
    margin: 30px;
}
#kensu{
    font-size: 28px;
    font-weight: bold;
    color: black;
    text-shadow:1px 1px 1px rgb(17, 219, 216),2px 2px 1px rgb(17, 219, 216);
}
h1{
    color: rgb(143, 143, 143);
	text-shadow: rgb(0, 255, 238) 1px 0 10px;
    font-weight: bold;
    border-bottom: dotted 10px;
    padding: 10px;
}
h2{
    background-color:rgb(123, 212, 206);
    color: white;
    padding: 10px;
    border-radius: 20px 20px 0 0;
}
.store{
    border-bottom: dotted;
    padding: 10px;
    font: 1.2em "fantasy";
}

li{
    list-style-type: none;  
    padding: 5px;
}
ul {
    border: none;
    background-color: #f8ffff;
    padding: 15px;
    margin-bottom: 25px;
    border-left: 8px solid rgb(123, 212, 206);
    box-shadow: 3px 3px 8px lightgrey;
}
.genre{
    border: solid 2px rgb(123, 212, 206);
    background-color: white;
    padding: 25px;
    width: 350px;
    border-radius: 8px;
}
.genre li{
    list-style-type: disc;
    padding: 2px;
}